<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<!--<listeners>
		<listener class-name="com.servicepoints.utilities.Reporting"></listener>
	</listeners> -->
		
	<parameter name="browser" value="chrome"></parameter>
	
    <test name="Test">
    <classes>
      <!--<class name="com.servicepoints.testCases.TC01_AdminLoginTest"/>
      <class name="com.servicepoints.testCases.TC02_VerifySupplierSignUp"/>
      <class name="com.servicepoints.testCases.TC03_VerifyAdminSUPLoginTest"/>
      <class name="com.servicepoints.testCases.TC04_VerifyAddAgentSupBySupplier"/>
      <class name="com.servicepoints.testCases.TC05_VerifyAddAgentSupportTest"/>
      <class name="com.servicepoints.testCases.TC06_UserSignUpTest"/>
      <class name="com.servicepoints.testCases.TC07_VerifyClientApprovalTest"/>
      <class name="com.servicepoints.testCases.TC08_VerifyClientLoginTest"/>
      <class name="com.servicepoints.testCases.TC09_VerifyAddingNewStore"/>
      <class name="com.servicepoints.testCases.TC10_VerifyUpdationOfStoreTest"/>
      <class name="com.servicepoints.testCases.TC11_VerifyDeletionOfStoreTest"/>
      <class name="com.servicepoints.testCases.TC12_VerifySubmitQuoteTest"/>
      <class name="com.servicepoints.testCases.TC13_VerifyAcceptQuotationTest"/>
      <class name="com.servicepoints.testCases.TC14_VerifyExcludeFunctionTest"/>
      <class name="com.servicepoints.testCases.TC15_verifyAskForPriceChange"/>
      <class name="com.servicepoints.testCases.TC16_VerifyUpdateDeleteQuotation"/>
      <class name="com.servicepoints.testCases.TC17_VerifyAddNewVariant"/>
      <class name="com.servicepoints.testCases.TC18_VerifyCancelOrderFunctionality"/>
      <class name="com.servicepoints.testCases.TC19_VerifyOpenDisputFunction"/>
      <class name="com.servicepoints.testCases.TC20_VerifyAcceptDispute"/>
      <class name="com.servicepoints.testCases.TC21_VerifyOpenAcceptDisputeForOtherIssue"/>
      <class name="com.servicepoints.testCases.TC22_VerifyDeclinedDisputeFunction"/>
      <class name="com.servicepoints.testCases.TC23_VerifyAddTrackingAndRefundDspFunction"/>
      <class name="com.servicepoints.testCases.TC24_VerifyRefundDspDeclined"/>
      <class name="com.servicepoints.testCases.TC25_VerifyDisputeForConversation"/> 
      <class name="com.servicepoints.testCases.TC26_VerifyRefundAndConversation"/>
      <class name="com.servicepoints.testCases.TC27_VerifyAddTrackingAndResend"/>       
      <class name="com.servicepoints.testCases.TC28_VerifyDeclinedResendDispute"/>-->
      <!--<class name="com.servicepoints.testCases.TC29_VerifySpecialRequestFunction"/>
      <class name="com.servicepoints.testCases.TC30_VerifyCloseSpecialRequestFunction"/>
      <class name="com.servicepoints.testCases.TC31_VerifySpecialRequestCloseByAdminSP"/>
      <class name="com.servicepoints.testCases.TC33_VerifyPaymentPendingOrderOffTest"/>
      <class name="com.servicepoints.testCases.TC34_VerifyPaymentPendingOrderOnTest"/>
      <class name="com.servicepoints.testCases.TC35_VerifyPaymentPendingOrderForAddressError"/>
      <class name="com.servicepoints.testCases.TC36_VerifyAddAffiliateTest"/>
      <class name="com.servicepoints.testCases.TC00_verifySubmitAndAcceptQuote"/>
      <class name="com.servicepoints.testCases.TC37_VerifyStopFulfillmentAndStartFulfillmentTest"/>
      <class name="com.servicepoints.testCases.TC38_VerifyRequoteQuotationTest"/>
      <class name="com.servicepoints.testCases.TC39_VerifyAcceptingRequoteQuotationTest"/>
      <class name="com.servicepoints.testCases.TC40_VerifyMergeBreakOrderForDisputeTest">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include> 
			  <include name="verifyOpenDispute"></include> 
			  <include name="verifyAcceptDispute"></include>
			  <include name="verifyRequotation"></include> 
			  <include name="acceptRequoteQuotation"></include> 
			  <include name="verifyDisputeIsStillOpenFromAgentSide"></include> 
			  <include name="verifyDisputeIsStillOpenFromClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
      </class>
      <class name="com.servicepoints.testCases.TC41_VerifyMergeBreakOrderForNewVariantInDispute">
		  <methods>
			  <include name="setup"></include>
			  <include name="verifySubmitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyDisputeIsOpenAfterAddingNewVariant"></include>
			  <include name="verifyDisputeFromClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
      </class> --> 
     <!--<class name="com.servicepoints.testCases.TC42_VerifyMergeBreakOrderForAcceptedDisputeTest">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include> 
			  <include name="verifyOpenDispute"></include> 
			  <include name="verifyRequotation"></include> 
			  <include name="acceptRequoteQuotation"></include>
			  <include name="verifyAcceptDispute"></include> 
			  <include name="verifyDisputeIsStillOpenFromAgentSide"></include> 
			  <include name="verifyDisputeIsStillOpenFromClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
      </class>
      <class name="com.servicepoints.testCases.TC43_VerifyAfterCloseDisputeNoConversationBetweenClientAndSupplier">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include> 
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyAcceptDispute"></include> 
			  <include name="verifyNotificationFromClient"></include>
			  <include name="tearDown"></include>
		  </methods>
      </class>
      <class name="com.servicepoints.testCases.TC44_VerifyClientAbleToChangeDisputeSolutionAfterRaisingDispute">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>         
			  <include name="verifyOpenDispute"></include>
			  <include name="tearDown"></include>
		  </methods>
      </class>
      <class name="com.servicepoints.testCases.TC45_VerifyDisputeIsInOpenStateWhenClientSendsMsgOnDeclinedDispute">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="tearDown"></include>
		  </methods>
      </class>
     <class name="com.servicepoints.testCases.TC46_VerifyDisputeIsInOpenStateForTheOderHasTrackingNum">
		  <methods>
			  <include name="setup"></include>
			  <include name="verifyAddTrackingNumberAndReopenDeclinedDispute"></include>
			  <include name="verifySubmitAndDeclinedDisputeAndReopenIt"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC47_VerifyDisputeCantBeInReopenStateForTheOderStatusResend">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyRaisingAndAcceptingDisputeAgain"></include>
			  <include name="verifyRaiseDisputeAndAccept"></include>
			  <include name="verifyTryToReopenResendDispute"></include>
			  <include name="verifyRaiseDisputeForrRefund"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	 <class name="com.servicepoints.testCases.TC48_VerifyDisputeCantBeReopenForTheStatusCancelled">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDisputeAndDeclined"></include>
			  <include name="verifyCancelOrder"></include>
			  <include name="verifyOpenDisputeAgainAndAccept"></include>
			  <include name="verifyReopeningOfDeclinedDispute"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC49_VerifyCloseDisputeAfterCancelOrderAndDeclinedTheDispute">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyCancelOrder"></include>
			  <include name="verifyCloseDisputeFromSupplierSide"></include>
			  <include name="verifyShowDisputeFromSupportSide"></include>
			  <include name="verifyShowDisputeFromTeamleaderSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	 <class name="com.servicepoints.testCases.TC50_VerifyDeletedDisputeFromClientSupplierAndSupportSide">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyDeleteDisputeFromTeamleader"></include>
			  <include name="verifyDeletedDisputeFromClientSide"></include>
			  <include name="verifyDeletedDisputeFromSupplierSide"></include>
			  <include name="verifyDeletedDisputefromSupportSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	   <class name="com.servicepoints.testCases.TC51_VerifyShowDisputeAfterAddingTrackingNumAndCancelOrder">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyAddingTrackingNumOn3rdVariant"></include>
			  <include name="verifyDisputeStatusFromClientSide"></include>
			  <include name="varifyCancelSecondVariant"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	   <class name="com.servicepoints.testCases.TC52_VerifyOpenDisputeAfterSupplierAskForPriceChange">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyAskForPriceChange"></include>
			  <include name="verifyByClient"></include>
			  <include name="verifyDisputesFromSupplierSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC53_VerifyRaiseDisputeAfterClientStopsFulfillment">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyStopFulfillment"></include>
			  <include name="verifyDisputeOnSupplierSide"></include>
			  <include name="verifyDisputeOnSupportSide"></include>
			  <include name="verifyShowDisputeFromTeamleaderSide"></include>
			  <include name="verifyStartFulfillment"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	   <class name="com.servicepoints.testCases.TC54_VerifyReopeningOfHoldOrderStatusDispute">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyOpenDispute"></include>
			  <include name="verifyRequotation"></include>
			  <include name="verifyShowDisputeFromTeamleaderSide"></include>
			  <include name="verifyReopenHoldDeclinedDisputes"></include>
			  <include name="submitReQuotation"></include> 
			  <include name="verifyAcceptingRequoteQuote"></include>
			  <include name="againRaiseDisputes"></include>
			  <include name="verifyAcceptDispute"></include>
			  <include name="verifyReopenDeclinedDisputes"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	   <class name="com.servicepoints.testCases.TC55_VerifyAddDiscountFunctionality">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyAddTrackingAndResendProduct"></include>
			  <include name="verifyDiscountOnClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC56_VerifyDiscountFunctionalityWithRefund">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyAddTrackingAndResendProduct"></include>
			  <include name="raiseRefundDispute"></include>
			  <include name="verifyDiscountFromClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC57_VerifyDiscountFunctionalityWithRefundDispute2">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyAddTrackingAndResendProduct"></include>
			  <include name="raiseRefundDispute"></include>
			  <include name="verifyAddingDiscount"></include>
			  <include name="verifyDiscountFromClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC58_VerifyDiscountWithResendFunctionality">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyAddTrackingOnProduct"></include>
			  <include name="raiseResendDispute"></include>
			  <include name="verifyAddTrackingOnProductAgain"></include>
			  <include name="verifyAddingDiscount"></include>
			  <include name="raiseRefundDispute"></include>
			  <include name="verifyDiscountFromClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC59_VerifySupplierShouldAbleToChangeTheDiscount">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyAddTrackingOnProduct"></include>
			  <include name="verifyAddingDiscount"></include>
			  <include name="raiseRefundDispute"></include>
			  <include name="verifyDiscountFromClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC60_VerifyChangeDiscountWithResendAndRefundFunctionality">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyAddTrackingOnProduct"></include>
			  <include name="raiseResendDispute"></include>
			  <include name="verifyAddTrackingOnProductAgain"></include>
			  <include name="verifyAddingDiscount"></include>
			  <include name="raiseRefundDispute"></include>
			  <include name="verifyDiscountFromClientSide"></include>
			  <include name="verifyAddingDiscountOnRemainingVariants"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC61_VerifyChangeDiscountWithRefundFunctionality">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyAddTrackingOnProduct"></include>
			  <include name="raiseRefundDispute"></include>
			  <include name="verifyAddingDiscount"></include>
			  <include name="raiseRefundDisputeAgain"></include>
			  <include name="verifyDiscountFromClientSide"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <class name="com.servicepoints.testCases.TC62_VerifyRequotationLimitFromClientSide">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyRequoteQuotation"></include>
			  <include name="verifyMessageWhenClientTryToRequoteTwoTimes"></include>
			  <include name="verifyRequotationLimitAfterAddingVariant"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	 <class name="com.servicepoints.testCases.TC63_VerifyGroupByFunctionality">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyAcceptingRequoteQuotation"></include>
			  <include name="verifyRequoteQuotation"></include>
			  <include name="verifyAcceptingRequoteQuote"></include>
			  <include name="verifyMessageWhenClientTryToRequoteTwoTimes"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	 <class name="com.servicepoints.testCases.TC64_VerifyCancelQuotationRequestFunctionality">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	   <class name="com.servicepoints.testCases.TC65_VerifyProductPageOnSupportAndTeamleadSide">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="requoteQuoteByClient"></include>
			  <include name="supplierSubmitQuotationAgain"></include>
			  <include name="acceptQuotationFromTeamlead"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	<class name="com.servicepoints.testCases.TC66_VerifyProductPageOffSupportAndTeamleaderSideAnotherScenario">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="stopFulfillmentByClient"></include>
			  <include name="startFulfillmentBySupport"></include>
			  <include name="requoteQuoteByClient"></include>
			  <include name="supplierSubmitQuotationAgain"></include>
			  <include name="acceptQuotationFromSupport"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	    <class name="com.servicepoints.testCases.TC67_VerifySimpleSpecialRequestFunctionalityBySupportAndTeamleader">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="submitSpecialRequestByTeamleader"></include>
			  <include name="verifySupplierSubmittedTheSpRequest"></include>
			  <include name="verifyCloseSpecialRequestFromTeamleaderSide"></include>
			  <include name="verifySumbmittingSpRequestFromSupport"></include>
			  <include name="verifySupplierSubmittedTheSpRequestFromSupport"></include>
			  <include name="verifyCloseSpRequestFromSupplier"></include>
			  <include name="verifyRequestingSpecialRequestFromClient"></include>
			  <include name="verifySupplierSubmittedTheSpRequestFromClient"></include>
			  <include name="verifyCloseSpecialRequestSubmittedFromSupplier"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>-->
	  <class name="com.servicepoints.testCases.TC68_VerifyAskForPriceChangeFunctionFromSupportAndTeamleaderSide">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifySubmitingAskForPriceChange"></include>
			  <include name="verifyClientAcceptedTheNewPrice"></include>
			  <include name="verifyDisableQuotationFromSupplier"></include>
			  <include name="verifyAcceptingNewQuotation"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>
	  <!--<class name="com.servicepoints.testCases.TC69_VerifyProductsPageOfSupportAndTeamleaderSideForAddNewVariant">
		  <methods>
			  <include name="setup"></include>
			  <include name="submitAndAcceptQuotation"></include>
			  <include name="verifyDisableQuotationBySupplier"></include>
			  <include name="startFulfillmentBySupport"></include>
			  <include name="verifyUnableQuotationBySupplier"></include>
			  <include name="verifyAcceptQuotationByTeamleader"></include>
			  <include name="tearDown"></include>
		  </methods>
	  </class>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
